<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>

<nav th:replace="fragments/nav :: nav">
</nav>

<div class="container">
  <div class="row py-2">
    <div class="col-12">
      <a class="btn btn-primary" th:href="@{/product/new}">Add Product</a>
    </div>

    <div class="col-12 mt-3">
      <form class="form-inline" th:method="get">
        <div class="form-group mb-2 mr-2">
          <label for="titleFilter" class="sr-only">Title filter</label>
          <input type="text" class="form-control" id="titleFilter" th:value="${param.titleFilter}"
                 name="titleFilter" placeholder="Title filter">
        </div>

        <div class="form-group mb-2 mr-2">
          <label for="minCostFilter" class="sr-only">Min cost filter</label>
          <input type="number" class="form-control" id="minCostFilter" th:value="${param.minCostFilter}"
                 name="minCostFilter" placeholder="Min cost filter">
        </div>

        <div class="form-group mb-2 mr-2">
          <label for="maxCostFilter" class="sr-only">Max cost filter</label>
          <input type="number" class="form-control" id="maxCostFilter" th:value="${param.maxCostFilter}"
                 name="maxCostFilter" placeholder="Max cost filter">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Apply</button>
      </form>
    </div>

    <div class="col-12">
      <table class="table table-bordered my-2">
        <thead>
        <tr>
          <th scope="col" th:replace="fragments/sort_header_product :: sort_header_product ('Id', 'id')"></th>
          <th scope="col" th:replace="fragments/sort_header_product :: sort_header_product ('Title', 'title')"></th>
          <th scope="col" th:replace="fragments/sort_header_product :: sort_header_product ('Cost', 'cost')"></th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${products.hasContent()}" th:each="product : ${products}">
          <th scope="row" th:text="${product.id}">1</th>
          <td th:text="${product.title}">Alex</td>
          <td th:text="${product.cost}">1.01</td>
          <td>
            <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i class="fas fa-edit"></i></a>
            <a class="btn btn-danger" th:href="@{/product/{id}/delete(id = ${product.id})}"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>

        <tr th:unless="${products.hasContent()}">
          <td colspan="4">No data</td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="col-12" th:if="${products.hasContent()}">
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item"
            th:classappend="${page <= 1} ? 'disabled'">
            <a class="page-link"
               th:href="@{/product(page=${page - 1}, size=${products.size}, titleFilter=${param.titleFilter},
                           minCost=${param.minCost}, maxCost=${param.maxCost}, sort=${param.sort} ? ${param.sort} : 'id',
                           direction=${direction})}" tabindex="-1">Previous</a>
          </li>

          <li th:each="num : ${#numbers.sequence(1, products.totalPages)}"
              th:classappend="${num == products.number + 1} ? 'active'"
              class="page-item">
            <a class="page-link"
               th:text="${num}"
               th:href="@{/product(page=${num}, size=${products.size}, titleFilter=${param.titleFilter},
                           minCost=${param.minCost}, maxCost=${param.maxCost}, sort=${param.sort} ? ${param.sort} : 'id',
                           direction=${direction})}">1</a>
          </li>

          <li class="page-item"
            th:classappend="${page == products.totalPages} ? 'disabled'">
            <a class="page-link"
               th:href="@{/product(page=${page + 1}, size=${products.size}, titleFilter=${param.titleFilter},
                           minCost=${param.minCost}, maxCost=${param.maxCost}, sort=${param.sort} ? ${param.sort} : 'id',
                           direction=${direction})}">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<th:block th:replace="fragments/script :: script">
</th:block>

</body>
</html>