<div class="row py-2">
  <div class="col-12">
    <form (ngSubmit)="save()">

      <div class="form-group">
        <label>Title</label>
        <input [(ngModel)]="product.title" type="text" class="form-control" name="title" id="title" placeholder="Enter title product" />
        <label>Cost</label>
        <input [(ngModel)]="product.cost" type="text" class="form-control" name="cost" id="cost" placeholder="Enter cost product" />
      </div>
      <button class="btn btn-primary" type="submit">Sumbit</button>
    </form>
  </div>
</div>
